# Credentials & sensitive files
include/credentials/*
!include/credentials/.gitkeep

# Python
__pycache__/
*.pyc

# Airflow & Docker
.astro/
logs/
.env
.dockerignore

# VSCode or IDE files
.vscode/
.idea/
.git
.env
.DS_Store
airflow_settings.yaml
__pycache__/
astro
.venv
airflow-webserver.pid
webserver_config.py
airflow.cfg
airflow.db
